.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  margin-top: 0rem;
  width:  50%;
}

.home__setupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__instructions {
  background-color: rgba(27, 158, 202, 0.138);
  width: 40%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.573);
  border-radius: 5px;
}

.home__button {
  padding: 1rem;
  background-color: rgba(27, 158, 202, 0.138);
  border: 3px solid rgba(0, 0, 0, 0.625);
  border-radius: 10px;
}

.home__rollNumberDescription {
  font-family: 'Sono', sans-serif;
  color: white;
  font-size: 1.3rem;
}

.home__button--rollNumber {
  padding: .5rem 1.3rem;
  color: rgb(122, 231, 122);
  font-size: 3rem;
  margin: .5rem;
}

.home__button--more:hover {
  cursor: pointer;
  background-color: rgba(6, 95, 6, 0.714);
  color: white;
}

.home__button--less:hover {
  cursor: pointer;
  background-color: rgba(109, 8, 8, 0.714);
  color: white;
}

.home__button--startChoosing {
  color: cyan;
  font-size: 2rem;
}
.home__button--startChoosing:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.621);
  color: white;
}

.home__rollContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.home__playingContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__roundsLeft {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.home__battleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home__battlePod {
  width: 50%
}

.home__button--back {
  position: absolute;
  left: 1rem;
  bottom: 0rem;
  font-size: 1.5rem;
  padding: .3rem;
  align-self: flex-start;
  background-color: rgba(48, 159, 219, 0.326);
  color: rgb(255, 255, 255);
}
.home__button--back:hover {
  cursor: pointer;
  background-color: rgb(48, 159, 219);
}

.hide {
  opacity: 0;
}