.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  margin-top: 0rem;
  width:  50%;
}

.home__setupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__instructions {
  background-color: rgba(27, 158, 202, 0.138);
  width: 40%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.573);
  border-radius: 5px;
}

.home__button {
  padding: 1rem;
  background-color: rgba(27, 158, 202, 0.138);
  border: 3px solid rgba(0, 0, 0, 0.625);
  border-radius: 10px;
}

.home__rollNumberDescription {
  font-family: 'Sono', sans-serif;
  color: white;
  font-size: 1.3rem;
}

.home__button--rollNumber {
  padding: .5rem 1.3rem;
  color: rgb(122, 231, 122);
  font-size: 3rem;
  margin: .5rem;
}

.home__button--startChoosing {
  color: cyan;
  font-size: 2rem;
}

.home__rollContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.hide {
  opacity: 0;
}